<p id="notice"><%= notice %></p>

<h1><%= @user.username %></h1>

<p><%= @user.twitter %></p>

<div><%= @user.bio %></div>

<br/> <br/> <br/>

<div class="user_posts">
	<% @user.posts.each do |post| %>
	  
	    <%= link_to post.title, post, :class => "post_title" %> <br/><br/>
	    
	    <p class="post_content">
	    <%= simple_format(post.content[0..300] + "...") %>
	    </p>
	    <br /> <br/>
	    
	<% end %>
</div>

<% if @user == current_user %>
	<%= link_to "Edit", edit_user_path(@user) %>
<% end %>