<p id="notice"><%= notice %></p>

<h1><%= @user.username %></h1>

<div class="buttonize user_twitter">
	<%= link_to @user.twitter, "http://www.twitter.com/" + @user.twitter %>
</div>

<div class="user_bio"><%= @user.bio %></div>

<br/> <br/> <br/>

<div class="user_posts">
	<% @user.posts.each do |post| %>
	  
	    <%= link_to post.title, post, :class => "post_title" %> <br/><br/>
	    
	    <p class="post_content">
	    <%= simple_format(post.content[0..300] + "...") %>
	    </p>
	    <br /> <br/>
	    
	<% end %>
</div>

<% if @user == current_user %>
	<%= link_to "Edit", edit_registration_path(@user) %>
<% end %>