<h2>Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email %>
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %>
  <%= f.password_field :password %></div>

  <div><%= f.submit "Sign in", :class => "btn btn-custom-grey" %></div>

<% end %>

<h1 id="footer_logo"><%= link_to "STORIES", root_path %></h1>


