<div class="content">

	<p id="notice"><%= notice %></p>
    <div class="main_post_heading">
		<div class="post_date">
		  <%= Time.at(
		    @post.created_at.to_time.to_i
		    ).strftime("%B %e, %Y ") %>
		</div> 
		<div class="post_title">
		  <p><%= @post.title %></p>
		</div> 
		<div class="post_author purple_hover">
		  <%= link_to "#{@post.user.first_name} #{@post.user.last_name}", @post.user %>
		</div> <br/>
		<div class="social_media_sharing">
	        <div id="tweet" class="social_media"><a href="https://twitter.com/share" class="twitter-share-button" data-via="Filadelfian">Tweet</a></div>
			<div class="fb-like social_media" data-width="450" data-font="lucida grande"></div>
		</div>
	</div> 
	<div class="main_post_body">
		<div class="main_post_image">
	        <%= image_tag @post.image_url(:main) if @post.image? %>
	    </div> 
		<div class="main_post_content">
		  <%= simple_format(@post.content) %>
		</div>
	</div>

	<% if @post.user == current_user %>
		<%= link_to 'Edit your piece', edit_post_path(@post), :class => "edit" %> 
	<% end %> 

</div>