<p id="notice"><%= notice %></p>

<p class="post_date">
  <%= Time.at(
    Date.today.to_time.to_i
    ).strftime("%B %e, %Y ") %>
</p> 

<p class="post_title">
  <%= @post.title %>
</p> 

<p class="post_author">
  <%= @post.user.username %>
</p> <br/>

<p>
  <%= simple_format(@post.content) %>
</p>

<% if @post.user == current_user %>
	<%= link_to 'Edit', edit_post_path(@post) %> 
<% end %> 

