<p id="notice"><%= notice %></p>

<p class="post_title">
  <%= @post.title %>
</p>

<p class="post_author">
  <%= @post.user.username %>
</p>

<p>
  <%= @post.content %>
</p>

<% if @post.user == current_user %>
	<%= link_to 'Edit', edit_post_path(@post) %> |
<% end %> 

