<div class="content">

	<p id="notice"><%= notice %></p>


	<p class="post_date">
	  <%= Time.at(
	    @post.created_at.to_time.to_i
	    ).strftime("%B %e, %Y ") %>
	</p> 

	<div class="post_title">
	  <p><%= @post.title %></p>
	</div> 

	<p class="post_author purple_hover">
	  <%= link_to "#{@post.user.first_name} #{@post.user.last_name}", @post.user %>
	</p> <br/>

	<div class="social_media_sharing">


        <div id="tweet" class="social_media"><a href="https://twitter.com/share" class="twitter-share-button" data-via="Filadelfian">Tweet</a></div>
		<div class="fb-like social_media" data-width="450" data-font="lucida grande"></div>

	

	</div>

	<div class="post_content">
	  <%= simple_format(@post.content) %>
	</div>

	<% if @post.user == current_user %>
		<%= link_to 'Edit your piece', edit_post_path(@post), :class => "edit" %> 
	<% end %> 

</div>