

<div class="navbar">
  <div class="navbar-inner">
    <ul class="nav pull-right">
    	<li class="dropdown">
		    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
		      <p id="plus">+</p>
		    </a>
		    <ul class="dropdown-menu">
		    <% if user_signed_in? %>
			    <li><%= link_to('My Profile', current_user) %></li>
			    <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>        
			<% else %>
			    <li><%= link_to('Login', new_user_session_path) %></li>
			    <li><%= link_to('Membership', static_pages_membership_path) %></li>
			    <li><%= link_to('Curious?', static_pages_curious_path) %></li>
		    <% end %>
		    </ul>
		</li>
    </ul>
  </div>
</div>

